{% extends "admins/admin_dashboard.html" %}

{% block title %}
    Mahindra: Admin Register
{% endblock title %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}

        <button class="btn btn-info" type="submit">Register</button>
    </form>
    


    <div class="text-center bg-secondary fst-italic text-bg-primary ">
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}