{% extends "admins/admin_dashboard.html" %}

{% block title %}
    Mahindra: Employee Register
{% endblock title %}

{% block content %}
<!-- {{form.as_p}} -->

      <!-- username, password1, password2 -->
<!-- 
            {{form1.as_p}} -->
            <!-- userid, age, gender, address, department, first_name, last_name, occupation -->


    <div class="text-center bg-secondary fst-italic text-bg-primary ">
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}