{% extends "admins/admin_dashboard.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Mahindra: Admin Register
{% endblock title %}

{% block content %}
<section class="min-vh-100 py-4 container-fluid d-flex justify-content-center align-items-center" id="register-admin">


<div class="row py-1">
    <form method="POST" enctype="multipart/form-data" class="d-flex">
        {% csrf_token %}
        <!-- <div class="col-lg-3">
            <img src="{% static 'assets/employee.png' %}"  class="img-fluid d-none d-lg-block" alt="admin-logo">
        </div> -->

        <div class="col border border-3 px-5 py-2 rounded rounded-2 bg-white">

            <div class="row">
                <div class="text-center bg-secondary fst-italic text-bg-primary mt-3">
                    {{form.errors}}
                   <i> {{form1.errors}} </i>
                    
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="row py-3">
                <div class=" d-flex justify-content-center">
                    <div class="bg-secondary py-2 px-2 text-white fst-italic rounded rounded-1"><i class="bi bi-people-fill"></i> Registration Admin</div>
                </div>    
            </div>
            
            <div class="row justify-content-center ">
                <div class="col-sm-12 col-lg d-flex justify-content-center flex-column align-items-center gap-2">
                    <div class="d-flex align-items-center gap-2">
                        <i class="bi bi-person-badge"></i>
                        {% render_field form1.userid placeholder="Employee ID" class+="form-control" %}
                    </div>

                    <div class="d-flex align-items-center gap-2 ">
                        <i class="bi bi-check2-circle"></i>
                        {% render_field form1.age placeholder="Age" class+="form-control" %}
                    </div>

                    <div class="d-flex align-items-center gap-2">
                        <i class="bi bi-gender-ambiguous"></i>
                        {% render_field form1.gender class+="form-control" %}
                    </div>

                    <div class="d-flex align-items-center gap-2 ">
                        <i class="bi bi-geo-alt"></i>
                        {% render_field form1.address placeholder="Address" class+="form-control" %} 
                    </div>
                    <div class="d-flex align-items-center gap-2 ">
                        <i class="bi bi-pc-display-horizontal"></i>
                        {% render_field form1.occupation placeholder="Occupation" class+="form-control" %}
                    </div>

                    <div class="d-flex align-items-center gap-2">
                        <i class="bi bi-person-workspace"></i>
                        {% render_field form1.department placeholder="Department" class+="form-control" %}  
                    </div>
                 

                    
                 
                </div>
                <div class="col-sm-12 col-lg d-flex justify-content-center flex-column align-items-center gap-3">

                    <div class="d-flex align-items-center gap-2 ">
                        <i class="bi bi-person-video"></i>
                        {% render_field form1.first_name placeholder="First Name" class+="form-control" %}  
                    </div>

                    <div class="d-flex align-items-center gap-2 ">
                        <i class="bi bi-person-vcard"></i>
                        {% render_field form1.last_name placeholder="Last Name" class+="form-control" %}  
                    </div>
                
                    <div class="d-flex align-items-center gap-2 ">
                        <i class="bi bi-person-add"></i>
                        {% render_field form.username placeholder="Username" class+="form-control" %}  
                    </div>

                    <div class="d-flex align-items-center gap-2 ">
                        <i class="bi bi-check-square"></i>
                        {% render_field form.password1 placeholder="Password" class+="form-control" %}  
                    </div>

                    <div class="d-flex align-items-center gap-2 ">
                        <i class="bi bi-check-circle"></i>
                        {% render_field form.password2 placeholder="Confirm Password" class+="form-control" %} 
                    </div>

                </div>


            </div> <!-- end of 2nd row -->

            <div class="row text-center mt-2"> 
                <div class="col d-flex justify-content-center flex-column align-items-center">
                    <div class="d-flex align-items-center gap-2 ">
                        <i class="bi bi-file-image"></i>
                        {% render_field form2.photo placeholder="Photo" class+="form-control" %} 
                    </div> 
                </div>
            </div> <!-- end of 3rd row -->
           
            <div class="row text-center mt-5"> 
                <div class="col d-flex justify-content-center flex-column align-items-center">
                    <div class="d-flex flex-column ">
                        <input type="submit" class="btn btn-secondary" value="Register">
                    </div>
                </div>
            </div> <!-- end of 4th row -->
         
        </form>
    </div>

    
</section>
{% endblock content %}