{% extends "admins/admin_dashboard.html" %}

{% load static %}


{% block title %}
    Mahindra: View Employee
{% endblock title %}

{% block content %}


<div class="row mt-5">
  
</div>

  <div class="row mt-1 ">
      <div class="col-md">
        <div class="card card-body">
          <h5 class="text-secondary text-center">Attendance Record of {{employee.first_name}} {{employee.last_name}}</h5>
          <form method="get" id="search-form">
            <span>
              <span class="text-secondary fw-bold d-block d-md-inline">
                {{myFilter.form.year.label}}:
              </span>
              {{myFilter.form.year}}
            </span>
            
            <span>
              <span class="text-secondary fw-bold d-block d-md-inline">
                {{myFilter.form.month.label}}:
              </span>
              {{myFilter.form.month}}
            </span>
            <div>
              <button class="btn btn-white btn-sm" type="submit">Name: <strong>{{employee.first_name}} {{employee.last_name}}</strong></button>
            </div>
            
          </form>
            <div class="card card-body">
              <div class="table-responsive">
                <table class="table table-bordered ">
                  <tr>
                    <th>Date</th>
                    <th>Time In</th>
                    <th>Time Out</th>
                    <th>Total Hours of Work</th>
                    <th>Overtime</th>
        
                    

                    {% for attendance in myFilter.qs %}
                    <tr>
                      <td>{{attendance.date}}</td>
                      <td>{{attendance.timein}}</td>
                      <td>{{attendance.timeout}}</td>
                      <td>{{attendance.total_hours}}</td>
                      <td>{{attendance.overtime}}</td>
                    </tr>
                    {% endfor %}

                  </tr>
                 
                </table>

                
             </div>
          </div>
        </div>
      </div>
   </div>
  <!-- <script>
     const searchForm = document.getElementById("search-form");
     const queryForm = document.getElementById('id_year')

     const selectOption = document.getElementById("id_month");

    selectOption.addEventListener("change", function () {
        const form = document.getElementById("selection-form");
        form.submit();
    });

     searchQuery.addEventListener("input", function () {
            // Delay the search for a brief moment to allow the user to finish typing
            if (this.timer) {
                clearTimeout(this.timer);
            }

            this.timer = setTimeout(function () {
                searchForm.submit();
            }, 500); // Adjust the delay as needed
        });
  </script> -->

{% endblock content %}