{% extends "admins/admin_dashboard.html" %}

{% block title %}
    Mahindra: View Employee
{% endblock title %}

{% block content %}


<div class="row mt-5">
  
</div>

  <div class="row mt-1 ">
      <div class="col-md">
        <div class="card card-body">
          <h5 class="text-secondary text-center">Attendance Record of {{first_name}} {{last_name}}</h5>
            <div class="card card-body">
              <div class="table-responsive">
                <table class="table table-bordered ">
                  <tr>
                    <th>Date</th>
                    <th>Time In</th>
                    <th>Time Out</th>
                    <th>Total Hours of Work</th>
                    <th>Overtime</th>
                    
                  </tr>
                  {% for employee in myFilter.qs %}
                  <tr>
                    <!-- <td><a href="{% url 'view_employee' employee.first_name employee.last_name %}" class="btn btn-success btn-sm">View</a></td> -->
                    <td>{{employee.date}}</td>
                    <td>{{employee.timein}}</td>
                    <td>{{employee.timeout}}</td>
                    <td>{{employee.total_hours}}</td>
                    <td>{{employee.overtime}}</td>
                    <!-- <td><a href="{% url 'delete_employee' employee.userid %}" class="btn btn-danger btn-sm">Remove</a></td> -->
                  </tr>
                  {% endfor %}
                </table>
             </div>
          </div>
        </div>
      </div>
   </div>
{% endblock content %}