{% extends "admins/admin_dashboard.html" %}

{% block title %}
    Mahindra: Delete Employee
{% endblock title %}

{% block content %}
    <div class="row mt-5">
        <div class="col d-flex justify-content-center">
            <div class="">
                <p class="text-secondary">Are you sure you want to delete the record of "<span class="text-decoration-underline fst-italic">{{employee.first_name}} {{employee.last_name}}</span>"</p>

                <form action="{% url 'delete_employee' employee.userid  %}" method="POST">
                    {% csrf_token %}
                    <div class="text-center">
                        <a class="btn btn-danger" href="{% url 'search_employee' %}">Cancel</a>
                        <input type="submit" class="btn btn-info" name="Confirm">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}