[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
django-livereload-server = "*"
django-filter = "*"
opencv-python = "*"
deepface = "*"
cmake = "*"
dlib = {path = "./dlib-19.24.1-cp311-cp311-win_amd64.whl"}
face-recognition = "*"

[dev-packages]

[requires]
python_version = "3.11"
