{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Mahindra System: Employee Dashboard {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/logo.jpg' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'node_modules/bootstrap-icons/font/bootstrap-icons.min.css' %}">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    {% block scripts %}  {% endblock scripts %}
    
</head>
<style>
    * {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
    body {
        background-color: #FBFAF9;
    }

    .nav-item:hover {
    border: 1px solid #fff;
    border-radius: 100px;
    transition: 1s;
  }


  #edit-profile-bg {
    background-image: url("{% static 'assets/mahindra-bg.jpg' %}");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   }

   #face-recognition-bg {
    background-image: url("{% static 'assets/face-recognition.jpg' %}");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   }
</style>
<body>
    

        <!-- PUT NEXT NAV HERE ... -->
    <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #FF6F6F;">
      <div class="container-xl">
        <a href="{% url 'employee_dashboard' %}" class="navbar-brand">
          <span class="fw-bold text-white">TechMahindra <i class="bi bi-broadcast-pin"></span>
        </a>

        <!-- Toggle button for mobile nav -->
        <button class="navbar-toggler"
                type="button" 
                data-bs-toggle="collapse"
                data-bs-target="#main-nav"
                aria-controls="main-nav"
                aria-expanded="false"
                aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>
        </button>
        <!-- nav MOBILE VIEW -->
        <div class="collapse navbar-collapse justify-content-end align-center justify-content-md-evenly" id="main-nav">
          <ul class="navbar-nav text-secondary fw-bold">
            <li class="nav-item">
              <a href="{% url 'employee_edit_profile' %}" class="nav-link btn text-white"><i class="bi bi-person-gear"></i> Edit Profile</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'face_recognition' %}" class="nav-link btn text-white"><i class="bi bi-person-bounding-box"></i> Employee Daily Status</a>
            </li>
            <li class="nav-item ">
              <a href="#" class="nav-link btn text-white"><i class="bi bi-person-circle"></i> Employee: {{request.user}}</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'logoutUser' %}" class="nav-link btn btn-danger bg-danger text-white fw-semibold">Log out</a>
            </li>
          </ul>

          
        </div>

      </div>
    </nav>


    <main class="d-flex">
         
              {% block content %}
                  <section class="min-vh-100 container-fluid d-flex justify-content-center align-items-center">
                    <div class="row ">
                      <div class="col text-center">
                          <a class="" href="{% url 'home' %}">
                              <img id="logo" class="img-fluid " width="300" src="{% static 'assets/logo.jpg' %}" alt="logo">
                          </a>
                      </div>
                       <h3 class="text-center text-secondary ">Employee Page <i class="bi bi-person-check-fill"></h3>
                    </div>
                  
                  </section>
              {% endblock %}
    </main>



    
</body>
<!-- <script>
  const videoElement = document.getElementById('videoElement');
  const captureButton = document.getElementById('captureButton');

  captureButton.addEventListener('click', async () => {
      const canvas = document.createElement('canvas');
      canvas.width = videoElement.videoWidth;
      canvas.height = videoElement.videoHeight;
      canvas.getContext('2d').drawImage(videoElement, 0, 0, canvas.width, canvas.height);

      const imageData = canvas.toDataURL('image/png');

      // Send the captured image data to Django using a fetch request
      await fetch('/capture_image/', {
          method: 'POST',
          body: JSON.stringify({ image_data: imageData }),
          headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': getCookie('csrftoken'),  // Include the CSRF token
          },
      });

      alert('Image captured and sent to Django.');
  });

  // Function to get the CSRF token from cookies
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === name + '=') {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
</script> -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</html>