{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Mahindra System: Employee Dashboard {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/logo.jpg' %}" type="image/x-icon">
</head>
<style>
    * {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
    body {
        background-color: #FBFAF9;
    }

    #logo {
        width: 70%;
    }
</style>
<body>
    
    <header class="container-fluid " role="heading">
        <div class="row bg-danger">
            <span class="text-center text-white">Techmahindra Limited Records Management System</span>
        </div>

        <!-- <div class="row d-flex justify-content-center ">
            <div class="col-lg-auto">
                <a class="d-flex justify-content-center" href="{% url 'home' %}">
                    <img class="img-fluid" id="logo" src="{% static 'assets/logo.jpg' %}" alt="logo">
                </a>
            </div>
        </div> -->
    </header>

        <!-- PUT NEXT NAV HERE ... -->
    <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #FF6F6F;">
      <div class="container-xl">
        <a href="{% url 'employee_dashboard' %}" class="navbar-brand">
          <span class="fw-bold text-white">TechMahindra</span>
        </a>

        <!-- Toggle button for mobile nav -->
        <button class="navbar-toggler"
                type="button" 
                data-bs-toggle="collapse"
                data-bs-target="#main-nav"
                aria-controls="main-nav"
                aria-expanded="false"
                aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>
        </button>
        <!-- nav MOBILE VIEW -->
        <div class="collapse navbar-collapse justify-content-end align-center justify-content-md-evenly" id="main-nav">
          <ul class="navbar-nav text-secondary fw-bold">
            <li class="nav-item">
              <a href="{% url 'employee_edit_profile' %}" class="nav-link btn text-white">Edit Profile</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'face_recognition' %}" class="nav-link btn text-white">Employee Daily Status</a>
            </li>
            <li class="nav-item ">
              <a href="#" class="nav-link btn text-white">Employee: {{request.user}}</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'logoutUser' %}" class="nav-link btn btn-danger bg-danger text-white fw-semibold">Log out</a>
            </li>
          </ul>

          
        </div>

      </div>
    </nav>


    <main class="container-fluid">
         
              {% block content %}
              <div class="row d-flex justify-content-center h-100 ">
                <div class="col-lg-auto">
                    <a class="d-flex justify-content-center" href="{% url 'home' %}">
                        <img class="img-fluid" id="logo" src="{% static 'assets/logo.jpg' %}" alt="logo">
                    </a>
                </div>
              
              </div>
              <div class="col">
                <h3 class="text-center text-secondary ">Employee Page</h3>
              </div>
              {% endblock %}
    </main>



    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>