{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Mahindra System {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<style>
    body {
        background-color: #FBFAF9;
    }

    #header {
        background-color: #FF6F6F;
    }
  
</style>
<body>
    
    <header class="container-fluid" role="heading">
        <div class="row" id="header">
            <span class="text-center text-white">Techmahindra Limited Records Management System</span>
        </div>

        <div class="row justify-content-center">
            <img class="img-fluid w-50 h-auto" src="{% static 'assets/logo.jpg' %}" alt="">
        </div>
    </header>
    <nav>
        <!-- PUT NEXT NAV HERE ... -->
    </nav>


    <main class="container">
        {% block content %}  
            <div class="row justify-content-center">
                <div class="col">
                    <a href="{% url 'administrator' %}">Administrator</a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <a href="{% url 'employee' %}">Employee</a>
                </div>
            </div>
        {% endblock %}  
    </main>



    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>